.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & form {
    width: 445px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(187, 187, 187, 0.35);
    border-radius: 20px;
    padding: 30px 26px;

    & h3 {
      font-weight: 600;
      font-size: 35px;
      line-height: 52px;
      color: #000000;
    }
  }
}