.test {
  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0;
    list-style: none;
  }
}